@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;1,300&display=swap');

:root{


    --primary-color:rgba(149, 107, 2, 1);
    --secondary-color:rgba(189, 162, 92, 0.92);
    /* --peach-color: #99ccff; */
    --peach-color: rgba(183, 143, 115, 1);
}

*{
    box-sizing: border-box;
}

body{

    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    padding: 0;
    margin: 0;
    
}

/* Start Back To Top  */
.btn-backtotps{
    background-color: var(--peach-color);
    color: #fff;
    border-radius: 10px;

    padding: 10px;

    position: fixed;
    right: 10px;
    bottom: 10px;

    z-index: 200;
}


/* End Back To Top  */

/* Start Header Section  */

header{
    height: 100vh;
    background: linear-gradient(30deg,rgba(0,0,0,0),rgba(0,0,0,0.5)),url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    position: relative;
}

/* Start Nav Bar  */

.navbar{
    background: linear-gradient(rgba(0,0,0,0.3),var(--peach-color));
    padding: 20px 30px;

    transition: all .7s;
}

.navmenus{
    /*background: linear-gradient(rgba(0,0,0,0.6),var(--peach-color));*/
    background-color: var(--peach-color);
    padding: 5px 30px;

}

.menuitems{
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;

    transition: color .5s;
}

.menuitems:hover{
    color:	#fff;
}

.lines1,.lines2,.lines3{
    width: 25px;
    height: 3px;
    margin: 6px;
}

.crossxs .lines1{
    transform: rotate(-45deg) translate(-6px,6px);
}

.crossxs .lines2{
   opacity: 0;
}

.crossxs .lines1{
    transform: rotate(45deg) translate(-6px,-6px);
}

.dropdown .dropdown-menu a{
    color: #000;
    text-align: center;
    display: block;
}

/* End Nav Bar  */

/* Start Banner */
.banners{
    width: 100%;

    position: absolute;
    left: 0;
    top: 50%;

    transform: translateY(-50%);
}

.bannerheaders{
    animation: bnanis 2s;
}

.bannerparagraphs{
    animation: bnanis;
    animation-duration: 2s;
    animation-delay: 0.5s;

    animation-fill-mode: backwards;
}

@keyframes bnanis{
    from{
        tansform: translateY(100px);
        opacity: 0;
    }

    to{
        tansform: translateY(0);
        opacity: 1;
    }
}

/* End Banner */

/* End Header Section  */

/* Start Intro Section  */

/* .texts{
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;

} */

.texts h4{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    font-weight: bold;
    color: var(--peach-color);
    
}

/* End Intro Section  */

/* Start Cookies Section */
.cookies{
    background-color: var(--peach-color);
}

.titles{
    text-transform: uppercase;
}

.cookiescards{
    overflow: hidden;
}

.cookiescards img{
    transition: transform .5s;
}

.cookiescards:hover img{
    transform: scale(1.1);
}

/*.headings{*/
/*    width: 60%;*/

/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*    font-size: 10px;*/
/*    !* text-align: center; *!*/
/*    !* letter-spacing: 1px; *!*/
/*    opacity: 0.7;*/

/*}*/


/* End Cookies Section  */

/* Start Client Section  */

ul.clientlists{
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;

}

ul.clientlists{
    background-color: var(--peach-color);

    padding: 20px 30px;
    margin: 0 auto;

}

/* End Client Section  */


 /* Start Footer section */

 /*.footerlinks{*/
 /*   display: flex;*/
 /*  */
 /*}*/

 .links{
    color: var(--peach-color);
    text-decoration: none;
    font-size: 13px;

    padding: 10px 20px;
    margin: 0 auto;
 }

 /*.links:hover{*/
 /*   color: var(--primary-color);*/
 /*   letter-spacing: 1px;*/
 /*   border-bottom: 1px solid var(--peach-color);*/
 /*}*/

 .linkeds{
    color: var(--peach-color);
    text-decoration: none;
    letter-spacing: 1px;
 }

.product-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.product-card:hover .overlay {
    opacity: 1;
}

.star .checked {
    color: #ff9900;
}

/* .carousel img {
            height: 350px;
            object-fit: cover;
            border-radius: 10px;
        } */



  /* End Footer section */